 <div ng-controller="formController as formCtrl" class="form">
  <form novalidate class="form">
  <h2>What is your net worth?</h2>
  <br>
  <div class="formBlock btn-group col-lg-12">
    <div class="radio">
      <label><input type="radio" name="optradio" ng-model="formCtrl.user.net_worth">Less than $10,000</label>
    </div>
    <br>
    <div class="radio">
      <label><input type="radio" name="optradio" ng-model="formCtrl.user.net_worth">$10,000 - $50,000</label>
    </div>
    <br>
    <div class="radio">
      <label><input type="radio" name="optradio" ng-model="formCtrl.user.net_worth">$50,000 - $100,000</label>
    </div><br />
    <div class="radio">
      <label><input type="radio" name="optradio" ng-model="formCtrl.user.net_worth">$100,000 - $250,000</label>
    </div><br />
        <div class="radio">
      <label><input type="radio" name="optradio" ng-model="formCtrl.user.net_worth">$250,000+</label>
    </div><br />

    <div class="btn-block">
    <a ui-sref="view4" class="btn btn-default btn-lg btn-block" ng-click="update(user)">Back</a>
    <a ui-sref="view6" class="btn btn-success btn-lg btn-block" ng-click="update(user)">Next</a>
    </div>
    <!-- <a class="link" href="#">Already have an account?</a> -->
    </div>
  </form>
  </div>
