
<div ng-controller="formController as formCtrl" class="form">
  <form novalidate name="form" class="form" name="form">
  <h2>Sign Up</h2>
  <br>
  <div class="control-group col-lg-12"" ng-class="{true: 'error'}[submitted && form.password.$error]">
      <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder="Name" name="username" 
                  ng-model="formCtrl.user.name" required />
          <i class="glyphicon glyphicon-user form-control-feedback"></i>
          <span class="help-inline" ng-show="submitted && form.username.$error.required">Required</span>
      </div><br/>
      <div class="form-group has-feedback" ng-class="{true: 'error'}[submitted && form.email.$error]">
          <input type="email" class="form-control" placeholder="Email" name="email" 
                  ng-model="formCtrl.user.email" required/>
          <i class="glyphicon glyphicon-envelope form-control-feedback"></i>
          <span class="help-inline" ng-show="submitted && form.email.$error.required">Required</span>
      </div><br/>
      <div class="form-group has-feedback" ng-class="{true: 'error'}[submitted && form.password.$error]">
          <input type="password" class="form-control" id="pw1" name="password" placeholder="Password" 
                  ng-model="formCtrl.user.password" required/>
          <i class="glyphicon glyphicon-lock form-control-feedback"></i>
          <span class="help-inline" ng-show="submitted && form.password.$error.required">Required</span>
      </div><br/>
      <div class="form-group has-feedback" ng-class="{true: 'error'}[submitted && form.confirmPassword.$error]">
          <input type="password" class="form-control" id="pw2" name="confirmPassword" placeholder="Confirm password" 
                  ng-model="formCtrl.user.confirmPassword" required compareTo="formCtrl.user.password"/>
          <i class="glyphicon glyphicon-lock form-control-feedback"></i>
          <span class="help-inline" ng-show="submitted && form.confirmPassword.$error.required">Required</span>
      </div><br/>
      <span class="help-inline" ng-show="submitted && form.confirmPassword.$error">Passwords are not equal!</span>
      <button type="submit" ng-click="formCtrl.update(formCtrl.user)" ui-sref="view2" class="btn btn-primary btn-lg btn-group-justified btn btn-success ng-disabled="form.$invalid" >Next</button>
  </div>
  </form>
    
    
    <!-- <a class="link" href="#">Already have an account?</a> -->

</div>
