<div ng-controller="formController" class="form2">
  <h2>View4</h2>
  <form novalidate class="form">
  <h2>What is your yearly income?</h2>
  <div class="btn-group">
    <div class="radio">
      <label><input type="radio" name="optradio">Less than $25,000</label>
    </div>
    <br>
    <div class="radio">
      <label><input type="radio" name="optradio">$25,000 - $50,000</label>
    </div>
    <br>
    <div class="radio">
      <label><input type="radio" name="optradio">$50,000 - $100,000</label>
    </div><br />
    <div class="radio">
      <label><input type="radio" name="optradio">$100,000 - $250,000</label>
    </div><br />
        <div class="radio">
      <label><input type="radio" name="optradio">$250,000+</label>
    </div><br />


    <!-- <input type="submit" class="next-button" ng-click="update(user)" value="Next" /> -->
    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="update(user)">Next</button>
    <a class="link" href="#">Already have an account?</a>
    </div>
  </form>
  <br>

</div>


