<div ng-controller="formController" class="form2">
  <h2>View3</h2>
  <form novalidate class="form">
  <h2>What is the primary reason you are investing?</h2>
    <div class="btn-group" data-toggle="buttons">
      <div class="radio">
        <label><input type="radio" name="optradio" id="option1" value="Long-term investment" ng-model="user.reason" />
        Long-term investment</label>
      </div>
      <br>
      <div class="radio">
        <label><input type="radio" name="optradio" id="option2" value="Half day" ng-model="user.reason" />
        Half day</label>
      </div>
      <br>
      <div class="radio">
        <label><input type="radio" name="optradio" id="option3" value="Major purchase" ng-model="user.reason" />
        Major purchase</label>
      </div>
      <br>
      <div class="radio">
        <label><input type="radio" name="optradio" id="option4" value="Other" ng-model="user.reason" />
        Other</label>
      </div>
      <br>
    </div><br />
<!--     <div class="form-container">
      <input type="email" class="form-field" placeholder="Email" ng-model="user.email" />
      <i class="fa fa-envelope"></i>
      </div><br />
    <div class="form-container">
      <input type="password" class="form-field" placeholder="password" ng-model="user.password" />
      <i class="fa fa-lock"></i>
      </div><br /> -->
    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="update(user)">Next</button>
    <a class="link" href="#">Already have an account?</a>
  </form>

  <br>
  <!-- <a href="#/view1">View 1</a> -->
</div>

<!--  -->
