 <div ng-controller="formController as formCtrl" class="form">
  <form novalidate class="form">
  <br>
  <h2>What is your investment timeline?</h2>
  <div class="formBlock col-lg-12 btn-group">
    <div class="radio">
      <label><input type="radio" name="optradio" ng-model="formCtrl.user.timeline"required>less than 5 years</label>
    </div>
    <br>
    <div class="radio">
      <label><input type="radio" name="optradio" ng-model="formCtrl.user.timeline">5 - 10 years</label>
    </div>
    <br>
    <div class="radio">
      <label><input type="radio" name="optradio" ng-model="formCtrl.user.timeline">10 - 15 years</label>
    </div>
    <br />
    <div class="radio">
      <label><input type="radio" name="optradio" ng-model="formCtrl.user.timeline">15 - 25 years</label>
    </div>
    <br />
    <div class="radio">
      <label><input type="radio" name="optradio" ng-model="formCtrl.user.timeline">25+ years</label>
    </div><br />

    

    <div class="btn-block">
    <a ui-sref="view6" class="btn btn-default btn-lg btn-block" ng-click="update(user)">Back</a>
    <a ui-sref="view8" class="btn btn-success btn-lg btn-block" ng-click="update(user)">Next</a>
    </div>
    <!-- <a class="link" href="#">Already have an account?</a> -->
    </div>
  </form>
  </div>
