 <div ng-controller="formController" class="form">
  <form novalidate class="form">
  <h2>Are you employed?</h2>
  <br>
  <div class="formBlock btn-group col-lg-12">
    <div class="radio">
      <label><input type="radio" name="optradio" required>Student</label>
    </div>
    <br>
    <div class="radio">
      <label><input type="radio" name="optradio" ng-model="user.occupation">Retired</label>
    </div>
    <br>
    <div class="radio">
      <label><input type="radio" name="optradio" ng-model="user.occupation">Unemployed</label>
    </div><br />
    <div class="radio">
      <label><input type="radio" name="optradio" ng-model="user.occupation">Full-time</label>
    </div><br />
    <div class="radio">
      <label><input type="radio" name="optradio" ng-model="user.occupation">Part-time</label>
    </div><br />
    <div class="radio">
      <label><input type="radio" name="optradio" ng-model="user.occupation">Self-employed</label>
    </div><br />
    

    <div class="btn-block">
    <a ui-sref="view5" class="btn btn-default btn-lg btn-block" ng-click="update(user)">Back</a>
    <a ui-sref="view7" class="btn btn-success btn-lg btn-block" ng-click="update(user)">Next</a>
    </div>
    <!-- <a class="link" href="#">Already have an account?</a> -->
    </div>
  </form>
  </div>
