<div ng-controller="formController" class="form1">
  <h2>View1</h2>
  <form novalidate class="form">
  <h2>Sign Up</h2>
    <div class="form-container">
      <input type="text" class="form-field" placeholder="Name" ng-model="user.name" />
      <i class="fa fa-user"></i>
      </div><br />
    <div class="form-container">
      <input type="email" class="form-field" placeholder="Email" ng-model="user.email" />
      <i class="fa fa-envelope"></i>
      </div><br />
    <div class="form-container">
      <input type="password" class="form-field" placeholder="password" ng-model="user.password" />
      <i class="fa fa-lock"></i>
      </div><br />
    <input type="submit" class="next-button" ng-click="update(user)" value="Next" />
    <a class="link" href="#">Already have an account?</a>
  </form>
  <br>
  <br>
  <pre>user = {{user | json}}</pre>
  <pre>master = {{master | json}}</pre>
  <br>
  <!-- <a href="#/view2">View 2</a> -->
</div>
