 <div ng-controller="formController" class="form2">
  <h2>View6</h2> 
  <form novalidate class="form">
  <h2>What is your investment timeline?</h2>
  <div class="btn-group">
    <div class="radio">
      <label><input type="radio" name="optradio">less than 5 years</label>
    </div>
    <br>
    <div class="radio">
      <label><input type="radio" name="optradio">5 - 10 years</label>
    </div>
    <br>
    <div class="radio">
      <label><input type="radio" name="optradio">10 - 15 years</label>
    </div><br />
    <div class="radio">
      <label><input type="radio" name="optradio">15 - 25 years</label>
    </div><br />
    <div class="radio">
      <label><input type="radio" name="optradio">25+ years</label>
    </div><br />

    

    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="update(user)">Next</button>
    <a class="link" href="#">Already have an account?</a>
    </div>
  </form>
  </div>
